*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    height: 100%;
    background-color:thistle ;
}
.contenido{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.formulario{
    width: 400px;
    height: 600px;
    background-color: rgb(30, 26, 43, 0.8);
    padding: 40px;
    border-radius: 10px;
    color: #DCEAFF;
    animation-name: form;
    animation-duration: 2s;
    animation-timing-function:ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes form{
    0%{
        border-radius: 0%;
    }
    100%{
        border-radius: 20%;
    }
}
.formulario h1{
    margin: 10px 0;
    text-align: center;
}
.formulario h2{
    margin: 5px 0px;
    font-weight: unset;
    display: block;
}
input{
    width: 100%;
    height: 50px;
    margin: 10px 0;
    border: none;
    background-color: transparent;
    color: white;
    border-bottom: #DCEAFF 2px solid;
    font-size: 16px;
}
.formulario a{
    margin-top: 10px;
    font-size: 20px;
    color:#DCEAFF;
    display: block;
    text-align: center;
    text-decoration: none;
}
.formulario a:hover{
    color: #DCEAFF;
    text-decoration: underline;
    cursor: pointer;
}
.formulario button{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    border: none;
    outline: none;
    color: black;
    background-color: skyblue;
    font-size: 16px;
    border-radius: 25px;
}
.formulario button:hover{
    color:white;
    background-color: rgb(135, 206, 235, 0.9);
    text-decoration: underline;
    cursor: pointer;
}